@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #312e2e;
  color: white;
}

ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  align-items: center;
  font-size: 1.2rem;
  color: #f4aa30;
  margin-right: 10px;
}

.logo {
  padding: 10px;
}

header {
  background-image: url("../assets/1.webp"),
    linear-gradient(to right, #807b7b, #312e2e);
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  color: #f4aa30;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

header p {
  width: 350px;
}

main {
  min-height: 80vh;
}

.row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    flex-wrap: wrap;
}
.shirt-card {
  width: 350px;
  text-align: center;
  box-shadow: 11px 13px 28px 1px rgba(0,0,0,0.52);
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.shirt-card img {
  width: 170px;
  height: 230px;
}

.shirt-card button {
  background-color: yellow;
  border: none;
  color: rgb(136, 8, 8);
  padding: 4px 10px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #312e2e;
  color: antiquewhite;
  padding: 15px;
  align-items: center;
  margin-top: 40px;
}


.shirt-card>.sticker{
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  right:0;
}