
.parent{
    h2{
        color:olive;
        text-align: center;
    }
    .child-1{
        h3{
            color:orange;
        }
    }
    .child-2{
        h3{
            color:crimson;
        }
    }
}