.multi-column{
    margin: 2%;
    column-count: 5;
    column-width: 300px;
}

/* .flex-layout{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */


img{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 500px;
}

h1{
    text-align: center;
    font-size: calc(4vw + 2rem);
    color:orange;
}