body{
   /* background-image: url('../assets/1.webp');
   background-repeat: no-repeat;
   background-size: 100%;
   background-position:  center;
   background-attachment: fixed;
   height: 1000px;  */
/* 
   background-image:linear-gradient(to right,grey,dodgerblue,steelblue); */


   background-image: linear-gradient(to left,rgba(255, 0, 0, 0.673),rgba(0, 128, 0, 0.555)),url('../assets/3.jpeg');
}

h1{
    /* background-color: green; */

    font-size: 5rem;
    color:white;
    text-align: center;
}
p{
    color:rgb(20, 20, 15);
    font-size: 2rem;
}